# Common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        # secret key which should be base64 encoded and changed in production
        base64-secret: Nzk2ZDZjZjE2OTliOGMzMTBmOTQwOTMwOWE5OTcxYjVhNmUxMjYzNzkwNWNkZGRiNjk0ZjY1YmVkOWQwZmEwZDJiYzg2ZDczYmViYTJiZTZmMjBkZGQzNjcwY2FlMjA2MDdkYWIwNTU0MTVjOGQ1NWQ1NmI1ZGQyN2MxYTkwMDA=

eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@jhipster-registry:8761/eureka/
